.containerCards {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.cardInfo {
  background: #ffffff;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  display: flex;
  margin: 0 20px;
  height: 132px;
  width: 239px;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.cardInfoLarge {
  background: #ffffff;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  display: flex;
  margin: 0 20px;
  height: 132px;
  width: 464px;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}
.font {
  font-size: 54px;
  font-weight: bold;
  color: #ffba33;
}

.p {
  font-size: 16px;
  display: flex;
  justify-content: center;
}
.NumFont {
  display: flex;
  flex-direction: column;
}
.divisoria{
    content: '';
    background: #000;
    width: 1px;
    height: 80px;
}

.table{
  margin: 40px;
  width: 642px;
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  align-items: center;
  text-align: left;
}

.table h5{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 9px;
}

.filmsTable{
  width: 100%;
  margin-top: 30px;
}
.tableTitleFilms{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  font-size: 13px;
  font-weight: bold;
  border-bottom: 1px solid #5e5e5e;
  padding: 10px 0;
}

.tableFilms{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: (7, 1fr);
  font-size: 13px;
  padding: 7px;
  border-bottom: 1px solid #e9e9e9;
  padding: 10px 0;
}
